body {
  background-color: papayawhip;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 32px;
}

button {
  width: 96px;
  height: 80px;
  border: solid black 2px;
}

#display, button {
  font-family: monospace;
  font-size: xx-large;
}

.button-row {
  display: flex;
}

button.number {
  border-bottom: solid red 2px;
  background-color: mistyrose;
}

button.number:active {
  background-color: pink;
  border-bottom: solid maroon 4px;
}

button.utility {
  border-bottom: solid yellow 2px;
  background-color: lemonchiffon;
}

button.utility:active {
  background-color: gold;
  border-bottom: solid goldenrod 4px;
}

button.operator {
  border-bottom: solid greenyellow 2px;
  background-color: honeydew;
}

button.operator:active {
  background-color: springgreen;
  border-bottom: solid seagreen 4px;
}

#calculator {
  border: solid slateblue 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 480px;
  margin: 0;
  background-color: powderblue;
}

#display {
  display: flex;
  flex-direction: row;
  border: solid slateblue 4px;
  border-radius: 8px;
  flex-basis: 90%;
  height: 96px;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

#button-rows-container {
  display: flex;
  flex-direction: column;
}

#mute {
  align-self: flex-start;
  width: 128px;
  height: 64px;
  border: solid black 2px;
  border-bottom: solid mediumpurple 4px;
  background-color: thistle;
}

#mute:active {
  border-bottom: solid rebeccapurple 4px;
  background-color: plum;
}